/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #5f3916;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.3s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 32px 8px 8px;
  font-family: "architects-daughter", "bradley-hand", "marker felt", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
  text-decoration: none;
  font-size: 25px;
  color: #C4B07C;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 2px;
  left: 1px;
  font-size: 36px;
  margin-right: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  position: absolute;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #C4B07C;
  color: #5f3916;
  padding: 10px 15px;
  border: none;
  font-family: "architects-daughter", "bradley-hand", "marker felt", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}

.openbtn:hover {
  background-color: #ddaa44;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  /* If you want a transition effect */
  padding: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* mobile version */
/* @media screen and (max-width: 500px) {
  .main {
    width: 100%;
  }
} */

/* Style the header */
.header {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  background-color: #5f3916;
  color: #f1f1f1;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

/* Caption text */
.text {
  color: #0c0b0b;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid black;
}

.font {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}

.flex-child:first-child {
  margin-right: 20px;
}

.map-responsive {

  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;

}

.map-responsive iframe {

  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  position: absolute;

}