.fullwidth {
  width: 100vw;
}

/* The sidebar menu */

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #5f3916;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */

  /* Place content 60px from the top */
  transition: 0.3s;
  /* 0.3 second transition effect to slide in the sidebar */

}

/* The sidebar links */
.sidebar a {
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  font-size: 1.5vw;
  color: #C4B07C;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: relative;
  left: 1px;
  font-size: 36px;
  margin-right: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  position: absolute;
  right: 1.5%;
  top: 15%;
  bottom: 15%;
  font-size: 2.5vh;
  cursor: pointer;
  background-color: #C4B07C;
  color: #5f3916;
  padding: 5px 10px;
  border: none;
  /* border-radius: 80px; */
}

.openbtn:hover {
  background-color: #ddaa44;

}

.sidebaropen {
  width: 12vw;
  padding-left: 2vh;
}





/* Style the header */
.header {
  display: flex;
  position: sticky;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: auto;
  padding: 10px 16px;
  background-color: #5f3916;
  color: #f1f1f1;

}

.header-logo {
  margin: 0;
  height: 7vh;
  width: auto;
  background: transparent;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.header-text {
  margin: 0;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-weight: bold;
  text-decoration: none;
  margin-left: 1%;
  font-size: 5vh;
  display: inline-block;
  white-space: nowrap;
}

/* other font */
.font {
  font-family: segoe print, mv boli, gabriola, "architects-daughter", "bradley-hand", "marker felt", malgun gothic, "Gill Sans", "Gill Sans MT", "sans-serif";
}

/* for map */
.flex-container {
  display: flex;

}

/* for map */
.flex-child {
  flex: 1;
  position: relative;
  line-height: 1.8;
  width: 30vw;
  height: 50vh;
  background-color: #C4B07C;

}

/* for map */
.flex-child:first-child {
  margin-right: 5%;
}

/* for map */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 100%;
  width: 100%;

}

/* for map */
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;



}

.menu-content {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}


h3 {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

h2 {
  font-family: segoe print;
  mv boli,
  gabriola,
  "architects-daughter",
  "bradley-hand",
  "marker felt",
  malgun gothic,
  "Gill Sans",
  "Gill Sans MT",
  "sans-serif";
}

.cafephoto {
  background: url(img/IMG_2465.png)no-repeat;
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  bottom: 0;
}

.contactfont {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 2;

}


/* mobile portrait */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 2.2vh;
  }

  .sidebar-text {
    display: none;
  }

  .openbtn {
    right: 4%;
  }


  .sidebaropen {
    width: 25vw;
    padding-left: 0.5vh;
  }

  .menu-content {
    width: 90vw !important;
  }

  .gallery-container {
    width: 100% !important;
  }

  .contactfont {
    font-size: 6vw !important;
  }

  .flex-child.green {
    display: none;
  }

  .flex-child:first-child {
    margin-right: 0;
  }

  .header-text {
    font-size: 4vh !important;
  }

  .header-logo {
    height: 5.5vh;
  }

  .contactfont {
    margin-top: 4% !important;
  }

  .contactfont .row {
    display: block !important;
  }
}

/* mobile landscape */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 6vh;
  }

  .sidebar-text {
    display: none;
  }

  .openbtn {
    right: 4%;
  }


  .sidebaropen {
    width: 25vw;
    padding-left: 0.5vh;
  }

  .menu-content {
    width: 90vw !important;
  }

  .gallery-container {
    width: 100% !important;
  }

  .contactfont {
    font-size: 4vw !important;
  }

  .flex-child.green {
    display: none;
  }

  .flex-child:first-child {
    margin-right: 0;
  }

  .header-text {
    font-size: 7vh !important;
  }

  .header-logo {
    height: 10vh;
  }

  .contactfont {
    margin-top: 25% !important;
  }

  .contactfont .row {
    display: block !important;
  }
}

/* tablet portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 3vh;
  }

  .sidebaropen {
    width: 25vw;
    padding-left: 0.5vh;
  }

  .menu-content {
    width: 90vw !important;
  }

  .gallery-container {
    width: 100% !important;
  }

  .contactfont {
    font-size: 4vw !important;
  }

  .header-text {
    font-size: 3.5vh !important;
  }

  .header-logo {
    height: 5vh;
  }

  .flex-child.green {
    display: none;
  }

  .flex-child:first-child {
    margin-right: 0;
  }

  .contactfont {
    margin-top: 4% !important;
  }

  .contactfont .row {
    display: block !important;
  }

}

/* tablet landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .contactfont {
    font-size: 3vh !important;
  }

  .sidebar a {
    font-size: 4.66vh !important;
  }

  .contactfont {
    margin-top: 4% !important;
  }
}

/* @media only screen and (min-width: 1024px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 1024px) and (orientation: landscape) {
  .contactfont {
    font-size: 3vh !important;
  }

  .sidebar a {
    font-size: 4.66vh !important;
  }

  

  .contactfont {
    margin-top: 4% !important;
  }
} */

/* @media only screen and (min-width: 2048px) and (max-width: 2732px) {
  .contactfont {
    font-size: 3vh !important;
  }

  .sidebar a {
    font-size: 4.66vh !important;
  }
} */